.bg-image {
    background-image: url("./splash-page-images/lonely-male-hiking-mountains-cage-covered-with-snow-during-daytime.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
.bg-text {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 3vw;
  text-align: center;
  padding-top: 85vh;
}

.centered-text {
  text-align: center;
}
